.home-box {
    height: fit-content;
    margin: 0 auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 2rem;
    grid-template-areas: "box1 box2 box2 box2";
}
.box-2{
    height: fit-content;
    margin: 0 auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 2rem;
    grid-template-areas: "box1 box2";

}

.box-1{
    grid-area: box1;
    background-color: red;
}
.box-2{
    grid-area: box2;
    background-color: #2e6da4;
}

.images{
    padding: 0.5rem;
}